
// font-family: 'Open Sans', sans-serif;
body{
    max-width: 1920px;
    margin:0 auto;
    padding: 0;
    position: relative;
    background-color: #fbfcfc;
}
.header{
    margin:0 auto;
    max-width: 1920px;
    position: relative;
}
.picture-bg{
    background-image: url(../../img/illustra.1093.988.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 988px;
    width: 57.5%;
    position: absolute;
    right:0;
    -webkit-background-size: cover;
    display: block;
    // z-index: 1;
}
.picture-bg:after{
    content: '';
    display:block;
    width: 108px;
    height: 108px;
    background:rgba($color: #a6e2fa, $alpha: 0.7);
    left: -1%;
    top: 56%;
    position: absolute;
    border-radius: 50%;
}
.picture-bg:before{
    content: '';
    display:block;
    position: absolute;
    border-radius: 50%;
    width: 145px;
    height: 145px;
    background:rgba($color: #f8c7ca, $alpha: 0.7);
    right: 7%;
    bottom: -2%;
}

.phon-little{
    background-image: url(../../img/part.173.887.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 887px;
    width: 173px;
    position: absolute;
    left:0;
    top:140px;
    z-index: 4;

}
.phon-little:after{
    content: '';
    display:block;
    width: 145px;
    height: 145px;
    background:rgba($color: #f8c7ca, $alpha: 0.7);
    left: 10%;
    top: 15%;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}



.section-one{
    max-width: 1404px;
    margin:0 auto;
    padding-bottom: 200px;
    position:relative;
    // z-index: 2;
    .header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-top:88px;
        .logo{
            p{
                font-size: 40px;
                font-weight: 700;
                color:#2870db;
                padding:0;
                margin:0;
                letter-spacing: 1.2px;
                span{
                    color:#000;
                }
            }
    
        }
        .navigation{
            display:flex;
            color:#fff;
            align-items: center;
            margin-top: 5px;
            a{
                text-decoration: none;
                color:#fff;
                font-size: 18px;
                font-weight: 400;
                padding-left: 65px;
            }
            a:hover{
                font-size: 19px;
                text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.801);
            }
            li{
                list-style-type: none;
            }

            button{
                width: 116px;
                height: 36px;
                border: none;
                border-radius: 16px;
                background: #fff;
                color:#14215e;
                font-size: 18px;
                font-weight: 600;
                margin-left: 65px;
                transition: width 0.2s, height 0.2s, font-size 0.2s;
            }
            button:hover{
                width: 118px;
                height: 38px;
                font-size: 19px;
            }
        }
    }
    .main-part{
        max-width: 420px;
        margin: 135px 0 0 116px;
        h1{
            font-weight: 700;
            font-size: 50px;
            color:#1c2056;
            margin-bottom: 50px;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            color:#756d91;
            line-height: 2.1;
        }
        button{
            width: 240px;
            height: 80px;
            border: none;
            border-radius: 50px;
            background: #2870db;
            color:#e1eaf8;
            font-size: 20px;
            font-weight: 600;
            margin-top: 100px;
            box-shadow: -1px  15px 30px 10px rgba(0, 0, 0, 0.2);
            transition: width 0.2s, height 0.2s, font-size 0.2s;
        }
        button:hover{
            width: 242px;
            height: 82px;
            font-size: 22px;
        }
    }

}

@media(max-width:1800px){
    .picture-bg{
        height: 805px;
        width: 893px;
        
    }
    .phon-little{
        height: 647px;
        width: 144px;
        top:300px;
    }
}

@media(max-width:1540px){
    .picture-bg{
        height: 615px;
        width: 680px;
        
    }
    .phon-little{
        height: 500px;
        width: 102px;
        top:300px;

    }
    .phon-little:after{
        width: 100px;
        height: 100px;
    }
}

// -------------hi---


.section-one{
    padding: 0 15px 0px 15px;
    .header{
        padding-top:68px;
        .logo{
            p{
                font-size: 40px;
            }
    
        }
    }
    .main-part{
        margin: 135px 0 0 116px;
        h1{
            margin-bottom: 40px;
        }
        button{
            margin-top: 60px;
        }
    }

}
@media(max-width:1230px){
    // .header{
    //     margin:0 auto;
    //     max-width: 1920px;
    //     position: relative;
    // }
    // .picture-bg{
    //     background-image: url(../../img/illustra.1093.988.png);
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     height: 988px;
    //     width: 57.5%;
    //     position: absolute;
    //     right:0;
    //     -webkit-background-size: cover;
    //     display: block;
    //     // z-index: 1;
    // }
    // .picture-bg:after{
    //     content: '';
    //     display:block;
    //     width: 108px;
    //     height: 108px;
    //     background:rgba($color: #a6e2fa, $alpha: 0.7);
    //     left: -1%;
    //     top: 56%;
    //     position: absolute;
    //     border-radius: 50%;
    // }
    // .picture-bg:before{
    //     content: '';
    //     display:block;
    //     position: absolute;
    //     border-radius: 50%;
    //     width: 145px;
    //     height: 145px;
    //     background:rgba($color: #f8c7ca, $alpha: 0.7);
    //     right: 7%;
    //     bottom: -2%;
    // }
    
    // .phon-little{
    //     background-image: url(../../img/part.173.887.png);
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     height: 887px;
    //     width: 173px;
    //     position: absolute;
    //     left:0;
    //     top:140px;
    //     z-index: 4;
    
    // }
    // .phon-little:after{
    //     content: '';
    //     display:block;
    //     width: 145px;
    //     height: 145px;
    //     background:rgba($color: #f8c7ca, $alpha: 0.7);
    //     left: 10%;
    //     top: 15%;
    //     position: absolute;
    //     border-radius: 50%;
    //     z-index: 1;
    // }
    
    
    
    // .section-one{
    //     max-width: 1404px;
    //     margin:0 auto;
    //     padding-bottom: 200px;
    //     position:relative;
    //     // z-index: 2;
    //     .header{
    //         display:flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         padding-top:88px;
    //         .logo{
    //             p{
    //                 font-size: 40px;
    //                 font-weight: 700;
    //                 color:#2870db;
    //                 padding:0;
    //                 margin:0;
    //                 letter-spacing: 1.2px;
    //                 span{
    //                     color:#000;
    //                 }
    //             }
        
    //         }
    //         .navigation{
    //             display:flex;
    //             color:#fff;
    //             align-items: center;
    //             margin-top: 5px;
    //             a{
    //                 text-decoration: none;
    //                 color:#fff;
    //                 font-size: 18px;
    //                 font-weight: 400;
    //                 padding-left: 65px;
    //             }
    //             a:hover{
    //                 font-size: 19px;
    //                 text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.801);
    //             }
    //             li{
    //                 list-style-type: none;
    //             }
    
    //             button{
    //                 width: 116px;
    //                 height: 36px;
    //                 border: none;
    //                 border-radius: 16px;
    //                 background: #fff;
    //                 color:#14215e;
    //                 font-size: 18px;
    //                 font-weight: 600;
    //                 margin-left: 65px;
    //                 transition: width 0.2s, height 0.2s, font-size 0.2s;
    //             }
    //             button:hover{
    //                 width: 118px;
    //                 height: 38px;
    //                 font-size: 19px;
    //             }
    //         }
    //     }
    //     .main-part{
    //         max-width: 420px;
    //         margin: 135px 0 0 116px;
    //         h1{
    //             font-weight: 700;
    //             font-size: 50px;
    //             color:#1c2056;
    //             margin-bottom: 50px;
    //         }
    //         p{
    //             font-weight: 400;
    //             font-size: 18px;
    //             color:#756d91;
    //             line-height: 2.1;
    //         }
    //         button{
    //             width: 240px;
    //             height: 80px;
    //             border: none;
    //             border-radius: 50px;
    //             background: #2870db;
    //             color:#e1eaf8;
    //             font-size: 20px;
    //             font-weight: 600;
    //             margin-top: 100px;
    //             box-shadow: -1px  15px 30px 10px rgba(0, 0, 0, 0.2);
    //             transition: width 0.2s, height 0.2s, font-size 0.2s;
    //         }
    //         button:hover{
    //             width: 242px;
    //             height: 82px;
    //             font-size: 22px;
    //         }
    //     }
    
    // }

}